<div class="container login-body">
<form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="old-password" class="form-label">Old Password</label>
    <input class="form-control"  formControlName="oldPassword" type="text"id="old-password"
      placeholder="Enter your old password">
  </div>
  <div class="alert alert-danger" *ngIf="getoldPassword.touched && getoldPassword.invalid">
    <div *ngIf='getoldPassword.errors?.required'>Old password is required.</div>
  </div>

  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input class="form-control"  formControlName="newPassword" type="text" class="form-control" id="new-password"
      placeholder="Enter your new password">
  </div>

  <div class="alert alert-danger" *ngIf='getnewPassword.touched && getnewPassword.invalid'>
    <div *ngIf="getnewPassword.errors?.required">New password is required.</div>
    <div *ngIf="getnewPassword.errors?.minlength">New password must contain atleast 6 characters!</div>
    <div *ngIf="getnewPassword.errors?.cannotContainSpace">Password cannot contain space!</div>
  </div>

  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Please confirm your new Password</label>
    <input class="form-control" *ngIf="getnewPassword.valid" formControlName="confirmPassword" type="text" class="form-control" id="confirm-password"
      placeholder="Re-enter your new  password">
  </div>


  <div class="alert alert-danger" *ngIf='getconfirmPassword.touched && getconfirmPassword.invalid'>
    <div *ngIf='getconfirmPassword.errors?.required && getnewPassword.valid'>Please re-enter your new password.</div>

    <div *ngIf=" getconfirmPassword.errors?.cannotContainSpace">Password cannot contain space!</div>
  </div>
  <div class="alert alert-danger" *ngIf="changeForm.invalid && getconfirmPassword.touched && getnewPassword.touched && changeForm.errors?.['passwordsMatch']" >Passwords do not match!</div>

  <div >
    <button type="submit" class="btn btn-primary">Change password </button>
    <button routerLink="/login" type="button" class="btn btn-back"> Return to Login page?</button>
  </div>
</form>
</div>