
.btn:hover{
    background-color: darkblue;
}
.title{
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: bolder;
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px;
    

}
.form-control{
    font-weight: bolder;

}
.form{
    height: 50%;
    width: 50%;
}
